html, body {
    height: 100%;
    overflow-y: hidden; /* não cria barra de rolagem vertical */
    overflow-x: hidden; /* não cria barra de rolagem horizontal */
}
.circle{ /*estilizando o circulo*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #A0522D; /*Define a cor de fundo do elemento*/
    clip-path: circle(50% at bottom right); /*Define uma forma de recorte para o elemento usando um círculo. O parâmetro "circle(50% at bottom right)" indica que o círculo terá 50% do tamanho do elemento e será posicionado na parte inferior direita.*/
}
.centro span{
    color: #A0522D;
}
.boxImg{ /*estilizando a imagem que está em cima do circulo*/
    position: absolute;
    bottom: -28rem;
    right: 60%;
    width: 60rem;
    height: 64rem;
    border-radius: 70%;
    left: 50%;
   
}
.boxImg img{
    width: 1000px;
}
/*ESTILIZANDO A ANIMAÇÃO DO TEXTO */
#texto{
    font-size: 15px;
    text-align: left;/*Alinha o texto dentro do elemento "texto" à esquerda.*/
    color: #222;
    padding-bottom: 2%;
    margin: 0 auto; /*Define margens automáticas nas laterais do elemento "texto", o que centraliza horizontalmente o elemento na página.*/
    border-right: 2px solid #222;
}

.animation {
    animation: blinkCursor 0.5ms steps(10); /*Isso define uma regra de animação chamada "blinkCursor". Ela especifica os estágios de animação.*/
}

@keyframes blinkCursor {
    from { /*Define o estado inicial da animação, onde a cor da borda direita é definida como #222*/
        border-right-color: #222;
    }
    to {
        border-right-color: transparent; /*Define o estado final da animação, onde a cor da borda direita é definida como transparente, fazendo com que a borda desapareça.*/
    }
}

/*ESTILIZANDO OS TEXTOS DO INDEX*/
.text h1{
    font-size: 45px;
   color:  #222;
}
.text span{
    color: #A0522D;
}
.text{
    margin-left: 100px;
}
.text p{
    margin-top: 10px;
}
/*ESTILIZANDO O BOTÃO */
.content .text a{
    display: inline-block; /*permite que ele ocupe apenas o espaço necessário e permitindo que outros elementos fiquem ao lado dele.*/
    margin-top: 50px;
    padding: 10px 25px;
    background: #A0522D;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px; /*Adiciona um espaçamento de 1 pixel entre as letras do texto*/
    text-decoration: none; /*Remove a decoração de sublinhado do texto do elemento <a>.*/
    border-radius: 40px; /*Aplica um raio de borda de 40 pixels, arredondando as bordas do elemento <a>.*/
    transition: 0.3s ease-in-out; /*Adiciona uma transição suave às propriedades alteradas, com uma duração de 0.3 segundos e uma função de transição "ease-in-out", que cria uma transição suave de entrada e saída.*/
}
.content .text a:hover{
    transform: translateY(-10px); /* Essa propriedade de transformação move o elemento <a> 10 pixels para cima (-10px) em relação à sua posição original quando o mouse está sobre ele (hover).*/
}
/*ESTILIZANDO OS ICONES DAS REDES SOCIAIS*/
.icons{
    position: absolute;
    bottom: 40px;
    left: 100px;/*Define a distância entre o elemento e a borda esquerda */
    display: flex;
    justify-content: center; /*Centraliza horizontalmente os filhos do elemento dentro dele, ao longo do eixo principal.*/
    align-items: center; /*Centraliza verticalmente os filhos do elemento dentro dele, ao longo do eixo transversal./*
}
.icons li{ /*Esse seletor CSS seleciona os elementos <li> que estão dentro dos elementos com a classe "icons".*/
    list-style: none; /*Remove os marcadores de lista padrão dos elementos <li>. Isso remove os pontos ou números geralmente exibidos antes de cada item de lista.*/
}
.icons li a{
    display: inline-block; /*: Isso define o elemento <a> como um bloco inline, permitindo que ele ocupe apenas o espaço necessário e permitindo que outros elementos fiquem ao lado dele.*/
    margin-left: 45px;
    background: #222;
    width: 50px;/*Define a largura do elemento <a> como 50 pixels.*/
    height: 50px; /*Define a altura do elemento <a> como 50 pixels.*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /*Aplica um raio de borda de 50%, criando um formato circular */
    transition:  0.3s ease-in-out;/*Adiciona uma transição suave às propriedades alteradas, com uma duração de 0.3 segundos e uma função de transição "ease-in-out", que cria uma transição suave de entrada e saída.*/
}
.icons li a:hover{
    background: #A0522D;
    transform: translateY(-10px); /* Essa propriedade de transformação move os elementos <a> em estado de "hover" 10 pixels para cima (-10px) em relação à sua posição original. Isso cria um efeito de deslocamento para cima quando o cursor do mouse está sobre esses elementos.*/
}
.icons li a img{
    filter: invert(1); /* Essa propriedade de filtro inverte as cores das imagens. Ao definir o valor como 1, a imagem será invertida verticalmente. Isso pode ser usado para criar um efeito de negativo ou alterar as cores da imagem.*/
    transform: scale(0.5);/*Essa propriedade de transformação dimensiona as imagens em 50% do tamanho original. Ao definir o valor como 0.5, as imagens serão reduzidas pela metade.*/
}





/* para formatação de mobile */
@media (max-width: 1000px) { 
    .circle {
        display: none; /* esconde o circulo */
    }
    .boxImg{
        display: none; /* esconde a foto */
    }
    html, body {
        overflow-y: scroll; /* cria novamente a barra de rolagem vertical */
        overflow-x: scroll; /* cria novamente a barra de rolagem horizontal */
    }
}
