.info { /*deixando a largura do tamanho da tela*/
    width: 100%;
}

.info h1 { /*ajeitando o local do título e tamanho*/
    padding-top: 10%;
    padding-bottom: 10%;
    width: 50%;
}
.centro span{
    color: #A0522D;
}
/*ESTILIZANDO A TABELA*/
.info table { /*ajeitando o local e tamanho da tabela*/
    text-align: center;
    width: 50%;
}

th { 
    color: #A0522D;
}

table, th,td { /*ajeitando a cor das bordas da tabelas*/
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
    
 }

 tr:hover { /*muda a cor quando o mouse está sobre a tabela*/
    background-color: #F7F7F7 !important;
 }

 .info #video { /*ajeitando o local e tamanho do video*/
    margin-top: 20px;
    width: 50%;
}
@media (max-width: 800px) { /* para formatação de mobile */
    .info {
        text-align: center;
    }
    .info h1 {
        margin: 0 5% 0 5%;
        width: 100%;
    }
    .info table {
        margin: 0 5% 0 5%;
        width: 100%;
    }
    .info #video {
        margin: 0 5% 5% 5%;
        width: 100%;
    }
}